# 파이썬 함수 (function = 기능)
- 함수 : 어떤 입력값을 받아서 내부에서 연산처리 후 해당 결과값을 외부로 출력할 수 있도록 기능하는 것
(프로그래밍 언어의 꽃)
- 함수에 값을 입력 & 출력 : input & output
- 함수가 생성(*선언) -> 함수가 존재 -> 값을 입력 (인자값 | 인수 -> 매개변수) -> 넣을 수도 있고, 없을 수도 있다!
- 함수를 사용(*호출)
- 함수의 선언부 & 호출부의 "인자값 | 인수 -> 매개변수"의 갯수는 기본적으로 같아야!!!
(어느 특정 한쪽이 상대적으로 갯수가 많거나 적으로 정상적으로 실행 x)
- return(문) : 함수의 내부연산 처리 후 특정 값을 함수 바깥으로 값을 보낼 수 있는 기능!

def func1() :
    실제 함수의 실행연산이 진행될 공간 -> 반복문, 조건문 사용!!!

# 파이썬 자료구조
- 문자열 = "string"
- 정수 = 10
- 실수 = 3.14
- 논리형 = True
> 단일값 저장 자료형태 1:1

- 리스트 = [1, 2, 3] -> 원하는 값을 추가.삭제 있음
- 튜플 = 리스트와 거의 똑같음 -> 최초에 선언된 형태의 자료구조를 변경할 수 없음! (1, 3, 5, 7) -> 데이터의 추가 혹은 삭제불가!
> iter & 반복문
> 리스트 & 튜플 안에 담겨있는 값들이 구체적으로 어떤 값을 의미하는지 알 수 없음!!

- 딕셔너리 = 사전 = {"apple": "사과"} -> "key / value" -> property = 속성
- 집합 = 수학시간에 배웠던 집합 개념
> 교집합, 합집합, 차집합, 공집합 등등
> 반복되어지는 값을 허용하지 않음!!
> 데이터를 크롤링 값을 찾아올 때, 반복적으로 입력된 값이 들어오는 경우 => 1회 처리
> 인스타그램 접속 > 데이터 크롤링 > 네일아트 > 사장님 > 똑같은 컨텐츠 반복

> 다중값 저장 자료형태 1:3 / 1:7

1. 리스트 : 변수명 = [값]
> 변수명 = list()

2. 튜플 : 변수명 = (값)
> 변수명 = tuple()

3. 딕셔너리 : 변수명 = {"" : ""}
> 변수명 = dict()

4. 세트 : 변수명 = {}
> 변수명 = set()

In [5]:
# 함수 선언
def func1() :
    print("Hello")
    print("Hello")
    print("Hello")
    print("Hello")
    print("Hello")
    print("Hello")

In [92]:
# 함수 호출
# 반복적인 실행코드를 자동화하고 싶을 때
func1()

Hello
Hello
Hello
Hello
Hello
Hello

In [4]:
print("Hello")
print("Hello")
print("Hello")
print("Hello")
print("Hello")
print("Hello")

Hello
Hello
Hello
Hello
Hello
Hello

In [15]:
def func2(parameter) :
    print("Hello!", parameter)

In [17]:
func2("World!")

Hello! World!

In [18]:
def func3(data1, data2) :
    print(data1 + data2)

In [19]:
func3(1, 2)

3

In [23]:
def func4(data1, data2) :
    return data1 + data2

In [25]:
result = func4(1, 2)
result

3

In [28]:
def avg_sum(a, b) : 
    # local variable : 지역변수
    c = 1
    result = a + b
    return result

# global variable : 전역변수
a = 1

print(a)

1

In [36]:
def func_wo_return(a) :
    print("This is function without return " + str(a) + " time")
    print(f"This is function without return {str(a)} time")

func_wo_return(2)

This is function without return 2 time
This is function without return 2 time

In [41]:
def mul_return(a) :
    b = a + 1
    return a, b

result = mul_return(1)
print(result)
print(type(result)) # (a, b)

(1, 2)
<class 'tuple'>

In [ ]:
# 실무에서 튜플을 사용하면 좋은 상활 -> 절대로 값이 변경되면 안되는 경우 -> 주민번호 같이 고정값 유지!

In [45]:
tuple1 = (1, 2, 3, 4)
list1 = [1, 2, 3, 4]

print(tuple1, list1)
print(dir(tuple1))
print(tuple1[0])

(1, 2, 3, 4) [1, 2, 3, 4]
['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']
1

In [48]:
# del tuple[1]
# tuple1[1] = "C"
# 튜플은 값을 신규로 삭제. 추가. 재할당 x

In [53]:
tuple1 = (1, 2, 3, 4)
tuple2 = (5, 6)

print(tuple1 + tuple2) # 튜플간 더하기 연산 가능
print(tuple1 * 3) # 튜플 내 값을 반복 기능 가능

for item in tuple1 :
    print(item * 3)

(1, 2, 3, 4, 5, 6)
(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)
3
6
9
12

In [54]:
def test_func1(a, b) :
    quot = a // b # 몫
    rem = a % b # 나머지
    return (quot, rem)

In [59]:
# result = test_func1(10, 3)

# 구조분해할당 기능
(f, s) = test_func1(10, 3)

# (f, s) = (3, 1)
print(f, s)

3 1

In [61]:
data_dict = {"한국": "KR", "일본": "JP", "중국": "CN"}
print(type(data_dict))

<class 'dict'>

In [66]:
# 리스트, 튜플 => 내부 아이템 => 고유한 인덱스 0 ~
# print(dir(data_dict))
print(data_dict["한국"], data_dict["일본"])

KR JP

In [67]:
data_dict

{'한국': 'KR', '일본': 'JP', '중국': 'CN'}

In [68]:
data_dict["미국"] = "US"

In [69]:
data_dict

{'한국': 'KR', '일본': 'JP', '중국': 'CN', '미국': 'US'}

In [70]:
data_dict["미국"] = "USA"

In [71]:
data_dict

{'한국': 'KR', '일본': 'JP', '중국': 'CN', '미국': 'USA'}

In [76]:
# iter 속성을 딕셔너리라는 자료구조 가지고 있다
for item in data_dict :
    print(f"{item} = {data_dict[item]}")

# 그렇다면, key, value -> 매번 반복문이 아니면, 못찾아오나요?

한국 = KR
일본 = JP
중국 = CN
미국 = USA

In [77]:
dir(data_dict) # 해당 자료구조가 사용할 수 있는 속성 혹은 메서드 함수의 목록!!

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [80]:
data_dict.keys()

dict_keys(['한국', '일본', '중국', '미국'])

In [81]:
data_dict.values()

dict_values(['KR', 'JP', 'CN', 'USA'])

In [89]:
for key in data_dict.keys() :
    print(data_dict[key])

KR
JP
CN
USA

In [91]:
# 인터파크 > 공연 페이지 데이터 수집 크롤링
# 리스트 => 공연명 -> 그 가수
# {"싸이": "워터밤", "성시경": "사랑합니다"}
# ["워터밤", "사랑합니다"]
# ["매장이 넓어요", "화장실이 깨끗해요"]
# 튜플은 거의 사용하지 않음 => 수집 (변동 담보)
# 100% 고정일것이야 => 주민번호, 성별

In [94]:
data_set = {"apple", "dell", "samsung", "lg"}
print(type(data_set))

<class 'set'>

In [95]:
data_set1 = set("apple")

In [96]:
data_set1 # set 는 중복값을 허용하지 않는다!!

{'a', 'e', 'l', 'p'}

In [97]:
data_set2 = set({"apple"})
data_set2

{'apple'}

In [98]:
data_set = {"apple", "dell", "samsung", "lg"}

In [100]:
"apple" in data_set

True

In [101]:
if "apple" in data_set :
    print(data_set)

{'apple', 'lg', 'dell', 'samsung'}

In [102]:
data1 = {"apple", "samsung", "lg"}
data2 = {"samsung", "xaiomi", "lg"}

In [103]:
# 교집합
data1 & data2

{'lg', 'samsung'}

In [104]:
# 합집합
data1 | data2

{'apple', 'lg', 'samsung', 'xaiomi'}

In [105]:
# 차집합
data1 - data2

{'apple'}

In [106]:
# 교집합 제외한 나머지 부분집합
data1 ^ data2

{'apple', 'xaiomi'}

In [107]:
# set 자료구조는 중복값을 허용하지 않는다!!!
data_list = ["apple", "dell", "samsung", "lg", "lg", "apple", "dell", "apple", "samsung"]

In [108]:
data_list

['apple', 'dell', 'samsung', 'lg', 'lg', 'apple', 'dell', 'apple', 'samsung']

In [111]:
set_result = set(data_list) # 명시적 형변환 VS 자동 형변환
print(set_result)

{'apple', 'lg', 'dell', 'samsung'}

In [112]:
# 특정 사이트에서 데이터 크롤링 > 리스트 자료구조 > 중복 필연 > 세트 자료구조 > 리스트

In [113]:
list(set_result)

['apple', 'lg', 'dell', 'samsung']